@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");

/* setting */
:root {
    /* color */
    --main-color: #6327fe;
    --bg-color: #eae8fe;
    --base-color: #fff;
    --border-color: #bdbdbd;

}

/* reset */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.txt-hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

html {
    font-size: 16px;
}
/* design */
body {

    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;;
}

.header {
    display:flex;
    justify-content: center;
}

.header .img-title {
    width:166px;
    height:78px;
}

.main {
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;

    padding: 18px 27px;
    gap: 0px;
}

.cont-vending {
    background: var(--base-color);
    display: flex;
    flex-direction: column;
    flex: 0 0 360px;

    height: fit-content;
    padding: 0px 27px 11px;
    gap: 0px;
}

.list-select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 130px;
    gap: 12px;
}

.list-select .item-select {
    position: relative;
    padding: 11px 11px 9px 13px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.item-select .img-drink {
    width: 36px;
    height: 65px;
}
.item-select .txt-name {
    font-size: 10px;
    line-height: 13px;
    -webkit-transform: scale(0.9);
}
.item-select .txt-main-colorce {
    width: 70px;
    padding: 5px 15px;

    background: var(--main-color);
    border-radius: 50px;

    font-size: 12px;
    line-height: 12px;
    color: white;
    text-align: center;
}

.item-select:hover,
.item-select:active,
.item-select.selected {
    outline: 3px solid var(--main-color);
}

.item-select.sold-out::after {
    content: url("../assets/img/Sold-out.svg");
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 44px;
    width: 94px;
    height: 130px;

    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.cont-info {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 32px 32px 106px;
    gap: 12px;

}

.grid-wide {
    grid-column: 1/3;
}

.txt-left-money {
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;

    background: var(--bg-color);
    border-radius: 5px;
}

.cont-info button {
    background: var(--base-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: transparent;
    border-radius: 5px;

    font-size: inherit;
    cursor: pointer;
}

.cont-info .btn_violet {
    background: var(--main-color);
    color: var(--base-color);
}

.inp-deposit {
    padding: 6px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
.inp-deposit::placeholder {
    color: var(--border-color);
}

.list-drink {
    width: 100%;
    padding: 11px 7px 11px 11px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    background: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;

    overflow-y: scroll;
}

.scb::-webkit-scrollbar {
    width: 10px;
}
.scb::-webkit-scrollbar-thumb {
    height: 10%;
    background: #fff;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 50px;
}
.scb::-webkit-scrollbar-track {
    margin: 5px;
}

.list-drink .item-drink {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--base-color);
    border-radius: 5px;
}

.item-drink .img-drink {
    margin: 6px 10px 7px;
    width: 18px;
    height: 33px;
}
.item-drink .txt-name {
    margin-right: auto;
    font-size: 10px;
    line-height: 13px;
    -webkit-transform: scale(0.9);
}
.item-drink .txt-count {
    margin: 7px;
    padding: 3px 10px 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px;

    font: inherit;
    line-height: 20px;
}

.cont-result {
    height: 545px;
    display: flex;
    flex-direction: column;
    flex: 0 0 360px;
    gap: 7px;

}

.cont-money {
    padding: 9px 27px;
    width: 100%;
    height: 50px;

    background: var(--base-color);
    font-size:14px;
}

.box-money {
    padding: 0px 10px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--bg-color);
    border-radius: 5px;
}

.box-money .txt-money {
    font-weight: 700;
}

.cont-get {
    padding: 25px 27px;
    height: 474px;

    display: flex;
    flex-direction: column;

    background: var(--base-color);
}

.tit-get {
    margin-bottom: 13px;

    text-align: center;
    font-weight: 700;
}

.cont-get .list-drink {
    height: 364px;
}

.txt-total {
    margin-top: 6px;

    font-size: 12px;
    text-align: right;
}

/* media query */
@media screen and (min-width: 361px) {
    body {
        padding: 0 27px;
        background: var(--bg-color);
    }

    .header {
        margin-bottom: 68px;
        text-align: center;
    }

    .header .img-title {
        width: 386px;
        height: 180px;
    }

    .main {
        gap: 28px;
    }

    .cont-vending {    
        height: 545px;
        padding: 31px 27px 28px;
    }

    .cont-result {
        gap: 20px;

    }
}
