@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");

#app {
    background: #eae8fe;
    width: 100%;
    height: 963px;

    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.title {
    text-align: center;
}

.img-title {
    width: 386px;
    height: 180px;
}

.cont-machine {
    position: relative;
    top: 68px;

    display: flex;
    justify-content: center;

    background-color: yellowgreen;
}

.cont-select {
    background-color: white;

    width: 360px;
    height: 545px;
    margin: auto 14px;
    padding: 31px 27px 28px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 130px 130px 33px 33px 106px;
    gap: 12px;
}

.cont-select .select-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: transparent; /**/
}
.select-item.select-on {
    outline: 3px solid #6327fe;
}

.select-item .img-item {
    width: 36px;
    height: 65px;
    position: absolute;
    top: 11px;
}

.select-item .txt-name {
    font-size: 9px;
    line-height: 9px;
    position: absolute;
    top: 82px;
}

.select-item .txt-price {
    width: 70px;
    height: 22px;
    background-color: #6327fe;
    color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 9px;
}

.cont-select div {
    border: 1px solid red;
}

.cont-select div:nth-child(7) {
    grid-column: 1 / 3;
}
.cont-select div:nth-child(9) {
    grid-column: 1/3;
}
.cont-select div:nth-child(11) {
    grid-column: 1/3;
}
/* cont-result */
.cont-result {
    margin: auto 14px;

    width: 360px;
    height: 545px;

    display: flex;
    flex-direction: column;
}

/* cont-money */
.cont-result .cont-money {
    background-color: white;
    width: 100%;
    height: 50px;
    padding: 9px 27px;
    box-sizing: border-box;
}

.cont-money .txt-money {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eae8fe;
    padding: 0 10px;
    height: 32px;
    border-radius: 5px;
}

.txt-money .input-money {
    font-weight: 700;
}
/* //cont-money */

/* cont-get */
.cont-result .cont-get {
    background-color: white;
    width: 100%;
    height: 474px;
    margin-top: 20px;
    padding: 0px 27px;
}

.cont-get .get-title {
    margin: 25px auto 13px;
    text-align: center;
    font-size: inherit;
}

.drink-list {
    display: flex;
    flex-direction: column;
    padding: 11px 7px 11px 11px;

    width: 100%;
    height: 364px;
    background-color: #eae8fe;

    border: 1px solid #bdbdbd;
    border-radius: 5px;

    overflow-y: scroll;
}
/* scrollbar */

.scb::-webkit-scrollbar {
    width: 10px;
}

.scb::-webkit-scrollbar-thumb {
    height: 10%;
    background-color: #fff;
    border-radius: 50px;
    background-clip: padding-box;
    border: 3px solid transparent;
}

.scb::-webkit-scrollbar-track {
    margin: 8px auto;
}

/* //scrollbar */

.drink-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.drink-item .img-drink {
    width: 18px;
    height: 33px;
    /* position: absolute;
    inset: 0; */
    margin: 6px 10px;
}

.drink-item .txt-name {
    font-size: 9px;
    line-height: 13px;
    margin-right: auto;
}

.drink-item .txt-cnt {
    width: 30px;
    height: 30px;
    margin: 7px;
    padding: 3px 10px 5px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    align-items: center;

    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.drink-item + .drink-item {
    margin-top: 7px;
}

.cont-get .txt-total {
    float: right;
    position: relative;
    top: 6px;
    font-size: 12px;
    line-height: 17px;
}

/* //cont-get */
/* //cont-result */
